$primary: #906427;
$secondary: #B6AC97;
$dark:#392C1E;
$black:  #292222;
$font-family-headline: "Rajdhani", sans-serif !default;
$font-family-body: "Barlow", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";