$primary: #680000;
$secondary: #5A0000;
$tertiary:#7B0F0F;
$dark-grey:  #E0E0E0;
$background: #ffffff;
$font-family-headline: "Rajdhani", sans-serif !default;
$font-family-body: "Barlow", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap"; 