@import 'custom';

.title{
    color: $primary;
    font-size: 50px;
    text-shadow: 3px 3px darkgrey;
}

header, footer{
    background-color: $dark-grey;
}

header{
    height: 65px;
}

.btn{
    &:hover{
        border: 1px solid $tertiary;
        background-color: white;
        color: $tertiary;
    }
    background-color: $tertiary;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 4px;
    font-weight: 400;
}

i{
    color: $tertiary;
}

h2{
    color: $secondary;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-nav{
    font-weight: 600;
}