@import 'custom';

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $font-family-body;
    font-weight: 500;
    color: $secondary;
}

.title{
    color: $primary;
    font-size: 42px;
    text-shadow: 3px 3px darkgrey;
}

header, footer{
    background-color: $dark-grey;
}

header{
    height: 65px;
}

.btn{
    &:hover{
        border: 1px solid $tertiary;
        background-color: white;
        color: $tertiary;
    }
    background-color: $tertiary;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
    padding: 4px;
    font-weight: 400;
}

i{
    color: $tertiary;
}

h2{
    color: $secondary;
}

.navbar-nav{
    font-weight: 600;
}

h1{
    color: $primary;
    font-family: $font-family-headline;
    font-weight: 600;
    text-shadow: 3px 3px 5px darkgrey;
}

.form-control{
    &:hover{
        box-shadow: 0 0 0 3px black;
    }
    box-shadow: 0 0 0 1px black;
    background-color: $dark-grey;
}

.form-label{
    color: $secondary;
    font-size: 24px;
    font-family: $font-family-body;
    font-weight: 500;
}

#main-page{
    flex-grow: 1;
    margin-bottom: 30px;
}

textarea{
    height: 200px;
}

.card{
    background-color: $dark-grey;
    border-style: none;
    font-size: 15px;
}

.card-title-home{
    background-color: $light-grey;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    font-family: $font-family-headline;
    color: $primary;
    display: inline-block;
    padding: 5px;
}

.card-title-occas{
    color: $secondary;
    font-family: $font-family-headline;
}
p{
    color: $secondary;
}

.card-text{
    font-family: $font-family-headline;
    font-size: 14px;
    color: black;
}

.price-text{
    font-family: $font-family-body;
    font-size: 18px;
    color: $tertiary;
    font-weight: 700;
    text-shadow: 3px 3px 5px darkgrey;
}

#search-option{
    color: $tertiary;
    border-style: none;
    background-color: $dark-grey;
}

.input-group-text{
    background-color: $dark-grey;
}

ul{
    background-color: $dark-grey;
}